:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 100vw;
  background-color: white;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
}

table {
  /* text-align: start; */
  border: 1px solid black;
}

td {
  border: 1px solid #dddddd;
  text-align: start;
  padding: 25px;
}

tr:hover:not(:first-child) {
  color: white;
  background-color: #747578;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f7f2;
}

textarea {
  resize: none;
  display: block;
  width: 100%;
  min-height: 100px;
}

#arrow_down img {
  width: 16px;
  height: 16px;
}

#arrow_down {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#arrow_down:hover {
  background-color: #f2f7f2;
  border-radius: 4px;
}
#arrow_down:active {
  background-color: #c4ccc4;
  border-radius: 4px;
}

#confirmation {
  color: lightgreen;
  font-weight: bold;
}

#submit_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

#loading {
  width: 100%;
}

button {
  border-radius: 4px;
  margin: 10px 0 10px;
  align-items: center;
  background-color: #f49d6e;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:active:not(:disabled) {
  background-color: #ff9f1c;
}

button:disabled {
  cursor: not-allowed;
}

#error {
  color: red;
  font-weight: bold;
}
